[submodule "Halo/vendor/spdlog"]
	path = Halo/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Halo/vendor/GLFW"]
	path = Halo/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Halo/vendor/glm"]
	path = Halo/vendor/glm
	url = https://github.com/g-truc/glm
	
[submodule "Halo/vendor/imgui"]
	path = Halo/vendor/imgui
	url = https://github.com/TheCherno/imgui
