[submodule "Halo/Thirdparty/spdlog"]
	path = Halo/Thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Halo/Thirdparty/GLFW"]
	path = Halo/Thirdparty/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Halo/Thirdparty/glm"]
	path = Halo/Thirdparty/glm
	url = https://github.com/g-truc/glm
	
[submodule "Halo/Thirdparty/imgui"]
	path = Halo/Thirdparty/imgui
	url = https://github.com/TheCherno/imgui
